<a href="https://colab.research.google.com/github/sarveshkuvalekar/DSBDA_LAB_Practicals/blob/main/PRACTICAL_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
d1 = pd.DataFrame({'RN':[1,2,3,4,5], 'SName':['Nishant','Sarvesh','Soham','Shubham','Aditya']})
d2 = pd.DataFrame({'RN':[1,2,3,4,5], 'Marks':['23','59','100','89','78']})
pd.merge(d1,d2,on='RN')

   RN    SName Marks
0   1  Nishant    23
1   2  Sarvesh    59
2   3    Soham   100
3   4  Shubham    89
4   5   Aditya    78

In [ ]:
df = pd.DataFrame({'RN':[1,2,3,4,5], 'name':['Nishant','Sarvesh','Soham','Shubham','Aditya'], 'Marks':['23','59','100','89','78']})
df.pivot(index='RN', columns='name', values='Marks')

name Aditya Nishant Sarvesh Shubham Soham
RN
1       NaN      23     NaN     NaN   NaN
2       NaN     NaN      59     NaN   NaN
3       NaN     NaN     NaN     NaN   100
4       NaN     NaN     NaN      89   NaN
5        78     NaN     NaN     NaN   NaN

In [ ]:
df=pd.DataFrame({'RN':[1,2,None,4,None], 'name':['Nishant','Sarvesh','Soham','Shubham','Aditya'], 'Marks': ['23','59','100','89','78']})
df.pivot(index='RN', columns='name', values='Marks')
df

    RN     name Marks
0  1.0  Nishant    23
1  2.0  Sarvesh    59
2  NaN    Soham   100
3  4.0  Shubham    89
4  NaN   Aditya    78

In [ ]:
df.backfill(axis=0)

<ipython-input-8-6b25eac61092>:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  df.backfill(axis=0)

    RN     name Marks
0  1.0  Nishant    23
1  2.0  Sarvesh    59
2  4.0    Soham   100
3  4.0  Shubham    89
4  NaN   Aditya    78

In [ ]:
df.backfill(axis=1)

<ipython-input-9-f49a54d1095d>:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  df.backfill(axis=1)

       RN     name Marks
0     1.0  Nishant    23
1     2.0  Sarvesh    59
2   Soham    Soham   100
3     4.0  Shubham    89
4  Aditya   Aditya    78

In [ ]:
data=pd.read_excel('/content/Demo Data DSBDA.xlsx')
data

,Sr. no.,Roll No,Name of the Student,DM,FDS,OOP,CG,DELD,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,1,SCOA01,ALISHA SHEIKH,24,27,20,15,16,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,SCOA02,SOHAM JAYYANNTH DESHMUKKH,16,9,9,AB,AB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,SCOA03,SHELAR NEHA NILESH,20,23,16,15,15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,SCOA04,RIYA JAWALE,18,14,11,8,15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,SCOA05,NARHE VARSHA RAOSAHEB,20,24,16,24,20,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,Maximum marks,NaN,NaN,24,27,25,29,27,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321`
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,Internal Exam Coordinator,NaN,NaN,NaN,NaN,HOD,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
genders = ['Male', 'Female']
data['Gender'] = np.random.choice(genders, size=len(data))
data

,Sr. no.,Roll No,Name of the Student,DM,FDS,OOP,CG,DELD,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Gender
0,1,SCOA01,ALISHA SHEIKH,24,27,20,15,16,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
1,2,SCOA02,SOHAM JAYYANNTH DESHMUKKH,16,9,9,AB,AB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
2,3,SCOA03,SHELAR NEHA NILESH,20,23,16,15,15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
3,4,SCOA04,RIYA JAWALE,18,14,11,8,15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
4,5,SCOA05,NARHE VARSHA RAOSAHEB,20,24,16,24,20,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,Maximum marks,NaN,NaN,24,27,25,29,27,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321`,Male
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`,Male
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
81,NaN,Internal Exam Coordinator,NaN,NaN,NaN,NaN,HOD,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female

In [ ]:
d = data.groupby('Gender')
d.first()

,Sr. no.,Roll No,Name of the Student,DM,FDS,OOP,CG,DELD,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
Gender,,,,,,,,,,,,,,,,,,,,,
Female,1,SCOA01,ALISHA SHEIKH,24,27,20,15,16,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
Male,2,SCOA02,SOHAM JAYYANNTH DESHMUKKH,16,9,9,AB,AB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321`

In [ ]:
d.count()

,Sr. no.,Roll No,Name of the Student,DM,FDS,OOP,CG,DELD,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
Gender,,,,,,,,,,,,,,,,,,,,,
Female,41,37,36,41,41,41,42,41,0,0,...,0,0,0,0,0,0,0,0,0,0
Male,35,31,31,35,35,35,35,35,0,0,...,0,0,0,0,0,0,0,0,0,2

In [ ]:
d.size()

Gender
Female    42
Male      40
dtype: int64

In [ ]:
print(d.get_group('Male'))

                        Sr. no.  Roll No          Name of the Student   DM  \
1                             2   SCOA02    SOHAM JAYYANNTH DESHMUKKH   16
4                             5   SCOA05        NARHE VARSHA RAOSAHEB   20
5                             6   SCOA06      BHUTDA MAHESH SHANTILAL   20
7                             8   SCOA08    DESHPANDE SRUSHTI VINAYAK   24
9                            10   SCOA10           ERANDE TEJAS DIPAK   24
10                           11   SCOA11        TRIPATHI VIKALP VIKAS   18
16                           17   SCOA17      KHATAL NANDINI RAJENDRA   12
18                           19   SCOA19  CHINCHANE SANSKRUTI GAJANAN   22
21                           22   SCOA22         PAWAR DNYANESHWARI V   21
22                           23   SCOA23      POTDAR PRANAV SURYAKANT   18
24                           25   SCOA25                 HEMANT SAINI   22
26                           27   SCOA27         GHANWAT SHUBHAM ANNA   12
28                           29   SCOA29                LAKSHYA SINGH   14
30                           31   SCOA31    PATIL PRATHAMESH SUDHAKAR   16
34                           35   SCOA35          PATIL JAYESH KAILAS   18
37                           38   SCOA38      THETE SANJIVANI SANTOSH   23
39                           40   SCOA40      SHEWALE PRIYANKA NILESH   AB
40                           41   SCOA41              DEVANSHU SHARMA   20
41                           42   SCOA42          BAILE MANTHAN VIVEK   22
43                           44   SCOA44  SURYAWANSHI RUDRESH VINAYAK   12
44                           45   SCOA45               TUPE OM KISHOR    6
47                           48   SCOA48       INGOLE SOHAM GHANSHYAM    6
49                           50   SCOA50         BORSE ADITYA SHIVAJI   12
50                           51   SCOA51   BHALKAR MUKUL RAMKRUSHNAJI   24
51                           52   SCOA52          DHERE PRANAV SANDIP   12
52                           53   SCOA53          FUNDE ROHIT CHHAGAN   14
56                           57   SCOA57                 ASHUTOSH RAJ   AB
57                           58   SCOA58         ADHAV ANIKET NARAYAN   24
61                           62   SCOA63        PARMAR DEEPAK PRAKASH    2
62                           63   SCOA64       SHINDE HARSH PRABHAKAR   10
63                           64   SCOA65               HARSH V KAMBLE   10
67                          NaN      NaN                          NaN  NaN
68                          NaN      NaN                          NaN  NaN
69      Name of Subject Teacher      NaN                          NaN   SS
71  Number of students Present:      NaN                          NaN   64
76               Minimum Marks       NaN                          NaN    0
77                Maximum marks      NaN                          NaN   24
78                          NaN      NaN                          NaN  NaN
79                          NaN      NaN                          NaN  NaN
80                          NaN      NaN                          NaN  NaN

    FDS  OOP   CG DELD  Unnamed: 8  Unnamed: 9  ...  Unnamed: 15  Unnamed: 16  \
1     9    9   AB   AB         NaN         NaN  ...          NaN          NaN
4    24   16   24   20         NaN         NaN  ...          NaN          NaN
5     9   AB    0   AB         NaN         NaN  ...          NaN          NaN
7    20   19   16   23         NaN         NaN  ...          NaN          NaN
9    18   11   23   AB         NaN         NaN  ...          NaN          NaN
10   13    7   18   10         NaN         NaN  ...          NaN          NaN
16    -    5    7   AB         NaN         NaN  ...          NaN          NaN
18   23    7   14   14         NaN         NaN  ...          NaN          NaN
21   22   24   24   22         NaN         NaN  ...          NaN          NaN
22   20   17   16   AB         NaN         NaN  ...          NaN          NaN
24   23   13   18    8         NaN         NaN  ...          NaN          NaN
26   13    3    8    6         NaN         NaN  ...          NaN          NaN
28    0    2    6    2         NaN         NaN  ...          NaN          NaN
30   20   15    9   AB         NaN         NaN  ...          NaN          NaN
34   20   17   18    5         NaN         NaN  ...          NaN          NaN
37   19   18   24   23         NaN         NaN  ...          NaN          NaN
39   18   AB   AB   AB         NaN         NaN  ...          NaN          NaN
40   20   25   20   21         NaN         NaN  ...          NaN          NaN
41   17   AB   17   AB         NaN         NaN  ...          NaN          NaN
43   17   11   11    7         NaN         NaN  ...          NaN          NaN
44   15    0    8    1         NaN         NaN  ...          NaN          NaN
47   24    2    7    3         NaN         NaN  ...          NaN          NaN
49   20   12   15   18         NaN         NaN  ...          NaN          NaN
50   18   19    7   20         NaN         NaN  ...          NaN          NaN
51   12    8    5   10         NaN         NaN  ...          NaN          NaN
52   15   13    2   10         NaN         NaN  ...          NaN          NaN
56   13   AB    2   AB         NaN         NaN  ...          NaN          NaN
57   23   17   20   AB         NaN         NaN  ...          NaN          NaN
61   16    0    6   AB         NaN         NaN  ...          NaN          NaN
62   17    2    9    8         NaN         NaN  ...          NaN          NaN
63   17    8    5    9         NaN         NaN  ...          NaN          NaN
67  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN
68  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN
69   AK   ZS   PC  CRJ         NaN         NaN  ...          NaN          NaN
71   66   61   63   44         NaN         NaN  ...          NaN          NaN
76    0    0    0    0         NaN         NaN  ...          NaN          NaN
77   27   25   29   27         NaN         NaN  ...          NaN          NaN
78  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN
79  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN
80  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN

    Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  Unnamed: 21  \
1           NaN          NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN          NaN
5           NaN          NaN          NaN          NaN          NaN
7           NaN          NaN          NaN          NaN          NaN
9           NaN          NaN          NaN          NaN          NaN
10          NaN          NaN          NaN          NaN          NaN
16          NaN          NaN          NaN          NaN          NaN
18          NaN          NaN          NaN          NaN          NaN
21          NaN          NaN          NaN          NaN          NaN
22          NaN          NaN          NaN          NaN          NaN
24          NaN          NaN          NaN          NaN          NaN
26          NaN          NaN          NaN          NaN          NaN
28          NaN          NaN          NaN          NaN          NaN
30          NaN          NaN          NaN          NaN          NaN
34          NaN          NaN          NaN          NaN          NaN
37          NaN          NaN          NaN          NaN          NaN
39          NaN          NaN          NaN          NaN          NaN
40          NaN          NaN          NaN          NaN          NaN
41          NaN          NaN          NaN          NaN          NaN
43          NaN          NaN          NaN          NaN          NaN
44          NaN          NaN          NaN          NaN          NaN
47          NaN          NaN          NaN          NaN          NaN
49          NaN          NaN          NaN          NaN          NaN
50          NaN          NaN          NaN          NaN          NaN
51          NaN          NaN          NaN          NaN          NaN
52          NaN          NaN          NaN          NaN          NaN
56          NaN          NaN          NaN          NaN          NaN
57          NaN          NaN          NaN          NaN          NaN
61          NaN          NaN          NaN          NaN          NaN
62          NaN          NaN          NaN          NaN          NaN
63          NaN          NaN          NaN          NaN          NaN
67          NaN          NaN          NaN          NaN          NaN
68          NaN          NaN          NaN          NaN          NaN
69          NaN          NaN          NaN          NaN          NaN
71          NaN          NaN          NaN          NaN          NaN
76          NaN          NaN          NaN          NaN          NaN
77          NaN          NaN          NaN          NaN          NaN
78          NaN          NaN          NaN          NaN          NaN
79          NaN          NaN          NaN          NaN          NaN
80          NaN          NaN          NaN          NaN          NaN

    Unnamed: 22  Unnamed: 23  Gender
1           NaN          NaN    Male
4           NaN          NaN    Male
5           NaN          NaN    Male
7           NaN          NaN    Male
9           NaN          NaN    Male
10          NaN          NaN    Male
16          NaN          NaN    Male
18          NaN          NaN    Male
21          NaN          NaN    Male
22          NaN          NaN    Male
24          NaN          NaN    Male
26          NaN          NaN    Male
28          NaN          NaN    Male
30          NaN          NaN    Male
34          NaN          NaN    Male
37          NaN          NaN    Male
39          NaN          NaN    Male
40          NaN          NaN    Male
41          NaN          NaN    Male
43          NaN          NaN    Male
44          NaN          NaN    Male
47          NaN          NaN    Male
49          NaN          NaN    Male
50          NaN          NaN    Male
51          NaN          NaN    Male
52          NaN          NaN    Male
56          NaN          NaN    Male
57          NaN          NaN    Male
61          NaN          NaN    Male
62          NaN          NaN    Male
63          NaN          NaN    Male
67          NaN          NaN    Male
68          NaN          NaN    Male
69          NaN          NaN    Male
71          NaN          NaN    Male
76          NaN          NaN    Male
77          NaN          NaN    Male
78          NaN         321`    Male
79          NaN            `    Male
80          NaN          NaN    Male

[40 rows x 25 columns]

In [ ]:
data['DM'].corr(data['DELD'])

ValueError: could not convert string to float: 'AB'

In [ ]:
print(data['DM'].unique())
print(data['DELD'].unique())

[24 16 20 18 22 12 21 8 14 23 'AB' 6 10 0 2 4 1 nan 'SS' 3 64 50 78.125
 15.984375]
[16 'AB' 15 20 7 23 10 13 17 14 22 5 8 6 2 0 27 18 21 9 1 3 nan 'CRJ' 44
 47.72727273 11.84090909]

In [ ]:
data['DM'] = pd.to_numeric(data['DM'], errors='coerce')
data['DELD'] = pd.to_numeric(data['DELD'], errors='coerce')
data = data.dropna(subset=['DM', 'DELD'])

In [ ]:
data['DM'] = data['DM'].replace('AB', 0)
data['DM'] = pd.to_numeric(data['DM'])
# Do the same for 'DELD' if needed

<ipython-input-29-2f138fa0e6ac>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['DM'] = data['DM'].replace('AB', 0)
<ipython-input-29-2f138fa0e6ac>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['DM'] = pd.to_numeric(data['DM'])

In [ ]:
data['DM'].corr(data['DELD'])

0.786340702410276

In [ ]:
data = data.iloc[:67]
data

,Sr. no.,Roll No,Name of the Student,DM,FDS,OOP,CG,DELD,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Gender
0,1,SCOA01,ALISHA SHEIKH,24.000000,27,20,15,16.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
2,3,SCOA03,SHELAR NEHA NILESH,20.000000,23,16,15,15.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
3,4,SCOA04,RIYA JAWALE,18.000000,14,11,8,15.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
4,5,SCOA05,NARHE VARSHA RAOSAHEB,20.000000,24,16,24,20.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
6,7,SCOA07,JAGTAP HARISH YUVRAJ,22.000000,18,3,16,7.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
7,8,SCOA08,DESHPANDE SRUSHTI VINAYAK,24.000000,20,19,16,23.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
8,9,SCOA09,DARWEY RUDRA GUNWANT,22.000000,12,9,15,7.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
10,11,SCOA11,TRIPATHI VIKALP VIKAS,18.000000,13,7,18,10.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
13,14,SCOA14,GOYAL SURAJ MANOJ,16.000000,19,9,13,10.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
14,15,SCOA15,DHAWNE DEVANG GANESH,18.000000,21,12,12,13.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
15,16,SCOA16,SHELKE GAURAV GIRISH,20.000000,19,12,9,16.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
17,18,SCOA18,BHUJBAL SRUSHTI VINAYAK,24.000000,24,19,28,17.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
18,19,SCOA19,CHINCHANE SANSKRUTI GAJANAN,22.000000,23,7,14,14.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
19,20,SCOA20,VIDULA VIKAS PATIL,20.000000,24,16,26,20.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
20,21,SCOA21,BHONGALE OMKAR MADHUKAR,22.000000,17,19,10,13.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
21,22,SCOA22,PAWAR DNYANESHWARI V,21.000000,22,24,24,22.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
23,24,SCOA24,JAGDALE ARYAN DIPAK,20.000000,15,3,11,5.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
24,25,SCOA25,HEMANT SAINI,22.000000,23,13,18,8.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
25,26,SCOA26,PATHADE UTKARSH VIJAYKANT,8.000000,15,5,13,6.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
26,27,SCOA27,GHANWAT SHUBHAM ANNA,12.000000,13,3,8,6.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
28,29,SCOA29,LAKSHYA SINGH,14.000000,0,2,6,2.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
29,30,SCOA30,ANANYA SHARMA,12.000000,16,13,8,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
31,32,SCOA32,JADHAV SUJATA SUDAM,24.000000,26,21,26,27.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
32,33,SCOA33,DHAMANE NAYAN VIDYADHAR,20.000000,14,20,14,18.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
33,34,SCOA34,AYAAN SAHIR CHOPDAR,22.000000,24,24,24,18.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
34,35,SCOA35,PATIL JAYESH KAILAS,18.000000,20,17,18,5.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
35,36,SCOA36,SOMA KARTIK DNYANESHWAR,14.000000,22,AB,20,14.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
37,38,SCOA38,THETE SANJIVANI SANTOSH,23.000000,19,18,24,23.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
40,41,SCOA41,DEVANSHU SHARMA,20.000000,20,25,20,21.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
42,43,SCOA43,DOLAS ADITYA SUNIL,12.000000,20,7,12,9.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
43,44,SCOA44,SURYAWANSHI RUDRESH VINAYAK,12.000000,17,11,11,7.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
44,45,SCOA45,TUPE OM KISHOR,6.000000,15,0,8,1.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
45,46,SCOA46,MAHAJAN KETAN RAHUL,8.000000,10,3,11,5.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
47,48,SCOA48,INGOLE SOHAM GHANSHYAM,6.000000,24,2,7,3.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
48,49,SCOA49,VYAVAHARE PUSHKRAJ BALU,10.000000,24,11,8,6.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
49,50,SCOA50,BORSE ADITYA SHIVAJI,12.000000,20,12,15,18.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
50,51,SCOA51,BHALKAR MUKUL RAMKRUSHNAJI,24.000000,18,19,7,20.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
51,52,SCOA52,DHERE PRANAV SANDIP,12.000000,12,8,5,10.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
52,53,SCOA53,FUNDE ROHIT CHHAGAN,14.000000,15,13,2,10.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
53,54,SCOA54,CHAUDHARI ADITYA ASHISH,8.000000,13,10,14,8.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
58,59,SCOA59,PURANIK DIVYESH SANDIP,20.000000,12,18,11,15.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
62,63,SCOA64,SHINDE HARSH PRABHAKAR,10.000000,17,2,9,8.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
63,64,SCOA65,HARSH V KAMBLE,10.000000,17,8,5,9.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
64,65,SCOA66,DESHMUKH YASH ANANT,4.000000,15,3,4,1.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
70,Number of Students Absent:,NaN,NaN,3.000000,1,6,4,23.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
71,Number of students Present:,NaN,NaN,64.000000,66,61,63,44.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
72,Number of students Pass:,NaN,NaN,50.000000,59,30,35,21.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
73,Number of students Fail:,NaN,NaN,14.000000,7,31,28,23.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
74,Passing Percentage ( Result),NaN,NaN,78.125000,89.393939,49.180328,55.555556,47.727273,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
75,Average Marks,NaN,NaN,15.984375,17.461538,11.409836,13.507937,11.840909,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
76,Minimum Marks,NaN,NaN,0.000000,0,0,0,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
77,Maximum marks,NaN,NaN,24.000000,27,25,29,27.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male

In [ ]:
new_data = data[['Sr. no.', 'DM','FDS','OOP','CG','DELD']]
new_data

,Sr. no.,DM,FDS,OOP,CG,DELD
0,1,24.000000,27,20,15,16.000000
2,3,20.000000,23,16,15,15.000000
3,4,18.000000,14,11,8,15.000000
4,5,20.000000,24,16,24,20.000000
6,7,22.000000,18,3,16,7.000000
7,8,24.000000,20,19,16,23.000000
8,9,22.000000,12,9,15,7.000000
10,11,18.000000,13,7,18,10.000000
13,14,16.000000,19,9,13,10.000000
14,15,18.000000,21,12,12,13.000000
15,16,20.000000,19,12,9,16.000000
17,18,24.000000,24,19,28,17.000000
18,19,22.000000,23,7,14,14.000000
19,20,20.000000,24,16,26,20.000000
20,21,22.000000,17,19,10,13.000000
21,22,21.000000,22,24,24,22.000000
23,24,20.000000,15,3,11,5.000000
24,25,22.000000,23,13,18,8.000000
25,26,8.000000,15,5,13,6.000000
26,27,12.000000,13,3,8,6.000000
28,29,14.000000,0,2,6,2.000000
29,30,12.000000,16,13,8,0.000000
31,32,24.000000,26,21,26,27.000000
32,33,20.000000,14,20,14,18.000000
33,34,22.000000,24,24,24,18.000000
34,35,18.000000,20,17,18,5.000000
35,36,14.000000,22,AB,20,14.000000
37,38,23.000000,19,18,24,23.000000
40,41,20.000000,20,25,20,21.000000
42,43,12.000000,20,7,12,9.000000
43,44,12.000000,17,11,11,7.000000
44,45,6.000000,15,0,8,1.000000
45,46,8.000000,10,3,11,5.000000
47,48,6.000000,24,2,7,3.000000
48,49,10.000000,24,11,8,6.000000
49,50,12.000000,20,12,15,18.000000
50,51,24.000000,18,19,7,20.000000
51,52,12.000000,12,8,5,10.000000
52,53,14.000000,15,13,2,10.000000
53,54,8.000000,13,10,14,8.000000
58,59,20.000000,12,18,11,15.000000
62,63,10.000000,17,2,9,8.000000
63,64,10.000000,17,8,5,9.000000
64,65,4.000000,15,3,4,1.000000
70,Number of Students Absent:,3.000000,1,6,4,23.000000
71,Number of students Present:,64.000000,66,61,63,44.000000
72,Number of students Pass:,50.000000,59,30,35,21.000000
73,Number of students Fail:,14.000000,7,31,28,23.000000
74,Passing Percentage ( Result),78.125000,89.393939,49.180328,55.555556,47.727273
75,Average Marks,15.984375,17.461538,11.409836,13.507937,11.840909
76,Minimum Marks,0.000000,0,0,0,0.000000
77,Maximum marks,24.000000,27,25,29,27.000000

In [ ]:
new_data = new_data.apply(pd.to_numeric, errors='coerce')
new_data.dtypes

Sr. no.    float64
DM         float64
FDS        float64
OOP        float64
CG         float64
DELD       float64
dtype: object

In [ ]:
print(new_data.corr())

          Sr. no.        DM       FDS       OOP        CG      DELD
Sr. no.  1.000000 -0.619369 -0.243253 -0.208540 -0.422266 -0.274436
DM      -0.619369  1.000000  0.906122  0.845343  0.861297  0.786341
FDS     -0.243253  0.906122  1.000000  0.766088  0.825933  0.697022
OOP     -0.208540  0.845343  0.766088  1.000000  0.877653  0.873705
CG      -0.422266  0.861297  0.825933  0.877653  1.000000  0.815955
DELD    -0.274436  0.786341  0.697022  0.873705  0.815955  1.000000

In [ ]:
new_data.describe()

         Sr. no.         DM        FDS        OOP         CG       DELD
count  44.000000  52.000000  52.000000  51.000000  52.000000  52.000000
mean   31.568182  18.790565  20.439528  14.188042  15.962759  13.818619
std    18.299063  13.220289  14.514305  11.500923  11.683557   9.743253
min     1.000000   0.000000   0.000000   0.000000   0.000000   0.000000
25%    17.500000  12.000000  14.750000   7.000000   8.000000   7.000000
50%    31.000000  18.000000  18.500000  12.000000  13.753968  13.000000
75%    46.500000  22.000000  23.000000  19.000000  20.000000  20.000000
max    65.000000  78.125000  89.393939  61.000000  63.000000  47.727273